@page "/"

<PageTitle>Tribox Inc | Technology Solutions & Enterprise Software Products</PageTitle>

<HeroSection />

<main id="main">
    <AboutSection />
    <ServicesSection />
    <ProductShowcaseSection />
    <WhyUsSection />
    <TechStackSection />
    <CtaSection />
    <ContactSection />
</main>
